@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Pacifico&display=swap');
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: "Momo Signature", cursive;
    --fonte4: "Pacifico", cursive;
}

* {
    margin: 0px;
    padding: 0px;
}
html, body{
    font-family: var(--font4);
    min-height: 100vh;
    background-color: darkgray;
}
header{
    background-color: rgb(173, 94, 3);
    color: darkgrey;
    text-align: center;
    
}
header > h1{
    color: aliceblue;
    padding-top: 50px;
    text-transform: uppercase;
    font-size: 10vh;
}
header > p{
    padding-bottom: 50px;
    
}
a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 40px;
    font-family: var(--font2);
    font-size: 3vh;
}
section.normal{
    background-color: white;
    color: rgb(0, 0, 0);
}
section.imagen{
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    box-shadow: 5px 5px 5px 10px black;
    background-attachment: fixed;
}
section.imagen > p{
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.37);
    text-shadow: 2px 2px 0px black;
}
section > p{
    padding-bottom: 2em;
}
section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    background-size: cover;
}
section#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: right;
    background-size: cover
}
footer{
    background-color: black;
    text-align: center;
    color: white;
}